aside {
  margin: 50px 0px 0px;
}

.search__filter {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #4a4a4a;
  background-color: rgba(105, 213, 177, 0.3);
  padding-left: 30px;
  height: 48px;
  width: 320px;
  display: flex;
  align-items: center;
}

.search__content {
  margin-left: 30px;
}
